In [38]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import hvplot.pandas
from sportsipy.nfl.boxscore import Boxscores, Boxscore
from sportsipy.nfl.schedule import Schedule, Game
from sportsipy.nfl.teams import Teams
pd.set_option('display.max_columns', None)

In [39]:
# Import dataframes

week_4 = pd.read_csv(Path('Resources/week_4_base_results.csv'), index_col = 'week')
week_5 = pd.read_csv(Path('Resources/week_5_base_results.csv'), index_col = 'week')
week_6 = pd.read_csv(Path('Resources/week_6_base_results.csv'), index_col = 'week')
week_7 = pd.read_csv(Path('Resources/week_7_base_results.csv'), index_col = 'week')
week_8 = pd.read_csv(Path('Resources/week_8_base_results.csv'), index_col = 'week')
week_9 = pd.read_csv(Path('Resources/week_9_base_results.csv'), index_col = 'week')
week_10 = pd.read_csv(Path('Resources/week_10_base_results.csv'), index_col = 'week')
week_11 = pd.read_csv(Path('Resources/week_11_base_results.csv'), index_col = 'week')
week_12 = pd.read_csv(Path('Resources/week_12_base_results.csv'), index_col = 'week')
week_13 = pd.read_csv(Path('Resources/week_13_base_results.csv'), index_col = 'week')

In [40]:
frames = [week_4, week_5, week_6, week_7, week_8, week_9, week_10, week_11, week_12, week_13]

In [41]:
result = pd.concat(frames)

In [42]:
result

,away_name,home_name,away_team_win_%,home_team_win_%,predicted_winner,actual_winner,Accuracy
week,,,,,,,
4,Arizona Cardinals,Los Angeles Rams,0.604015,0.395985,Arizona Cardinals,Arizona Cardinals,1
4,Baltimore Ravens,Denver Broncos,0.647694,0.352306,Baltimore Ravens,Baltimore Ravens,1
4,Carolina Panthers,Dallas Cowboys,0.183001,0.816999,Dallas Cowboys,Dallas Cowboys,1
4,Cleveland Browns,Minnesota Vikings,0.647694,0.352306,Cleveland Browns,Cleveland Browns,1
4,Detroit Lions,Chicago Bears,0.540017,0.459983,Detroit Lions,Chicago Bears,0
...,...,...,...,...,...,...,...
13,New York Giants,Miami Dolphins,0.048817,0.951183,Miami Dolphins,Miami Dolphins,1
13,Philadelphia Eagles,New York Jets,0.235623,0.764378,New York Jets,Philadelphia Eagles,0
13,San Francisco 49ers,Seattle Seahawks,0.923339,0.076661,San Francisco 49ers,Seattle Seahawks,0
13,Tampa Bay Buccaneers,Atlanta Falcons,0.806907,0.193093,Tampa Bay Buccaneers,Tampa Bay Buccaneers,1
13,Washington Football Team,Las Vegas Raiders,0.552030,0.447970,Washington Football Team,Washington Football Team,1

In [43]:
accuracy = pd.DataFrame(result['Accuracy'])

In [44]:
accuracy

      Accuracy
week
4            1
4            1
4            1
4            1
4            0
...        ...
13           1
13           0
13           0
13           1
13           1

[145 rows x 1 columns]

In [45]:
result_by_week = accuracy.groupby(accuracy.index).sum() / accuracy.groupby(accuracy.index).count()

In [46]:
result_by_week

      Accuracy
week
4     0.687500
5     0.562500
6     0.714286
7     0.615385
8     0.600000
9     0.642857
10    0.384615
11    0.533333
12    0.533333
13    0.714286

In [47]:
result_by_week.hvplot()

:Curve   [week]   (Accuracy)